body {
  background: linear-gradient(to right, #9929EA, #C47BE4, #B153D7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px 20px;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
}

.task-input{
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  width: 180px;
  margin-right: 10px;
  border-color: rgb(210, 210, 210);
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
}
.task-input::placeholder{
  color: rgb(151, 151, 151);
}

#add-task-btn{
  padding: 8px  17px;
  border: none;
  border-radius: 4px;
  background-color: #9c54d0;
  color: white;
  font-size: 16px;
  margin-left: 15px;
}