body {
  background: linear-gradient(to right, #9929EA, #C47BE4, #B153D7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "lato", "mulish", sans-serif;
  font-weight: 600;
}

.task-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px 20px;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
}

.task-input{
  height: 30px;
  padding-left: 10px;
  border-radius: 5px;
  width: 180px;
  margin-right: 10px;
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  
  font-family: "lato", "mulish", sans-serif;
  font-weight: 500;
}
.task-input::placeholder{
  color: rgb(157, 156, 156);
}

#add-task-btn{
  padding: 8px  17px;
  border: none;
  border-radius: 4px;
  background-color: #9c54d0;
  color: white;
  font-size: 16px;
  margin-left: 15px;
}

.task-list-container{
  margin-top: 30px;
  width: 320px;
  border-radius: 5px;
  height: 100px;
  background-color: white;

}
.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.delete-icon-container{
  background-color: #9d57d0;
  padding: 5px 6px;
  border-radius: 4px;
}
.delete-icon{
  width: 20px;
}
hr {
  width: 90%;
  color: rgb(197, 194, 194);
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0 auto;
  margin-top: -15px;
}